
# directories (by name)

/.vs/

Debug/
DebugMt/
DebugDll/
DebugUnix/
Release/
ReleaseMt/
ReleaseDll/
ReleaseUnix/

Debug Multithreaded/
Debug Multithreaded Dll/
Debug Multithreaded pseudoUNIX/
Release Multithreaded/
Release Multithreaded Dll/
Release Multithreaded pseudoUNIX/

ipch/

Win32/
x64/

# directories (by pattern)

# files (by name)

.DS_Store
sh.exe.stackdump

# files (by pattern)

*~
*.a
*.app
*.aps
*.d
*.dll
*.dylib
*.exe
*.gch
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.scc
*.sdf
*.slo
*.so
*.suo
*.swp
*.tmp
*.VC.db
*.VC.opendb
*.vcproj*user
*.vcxproj*user
*.zip


